h1{
    padding-top: 30px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
}
body{
    text-align: center;
    background-image: linear-gradient(lightblue,pink,wheat);
    min-height: 100vh;
}
.txt{
    font-size: larger;
    font-weight: 600;
    margin-right: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
form{
    line-height: 82px;
}
.name{
    padding:12px 0px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 25px;
    width:220px;
    margin-left:55px;
    border: 3px solid rgb(252, 11, 11);
    font-size: 16px;
}    
::placeholder{
    color:rgb(129, 129, 129);
}
.dept{
    padding:12px 0px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 25px;
    width:220px;
    margin-left:10px;
    border: 3px solid rgb(252, 11, 11);
    font-size: 16px;
}
.rate{
    padding:12px 0px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 25px;
    width:220px;
    margin-left:70px;
    border: 3px solid rgb(252, 11, 11);
    font-size: 16px;
}
.submit{
    margin:40px 10px;
    padding: 12px;
    width:110px;
    border: none;
    border-radius: 50px;
    background-color:rgb(117, 199, 231);
    color:snow;
    font-size: large;
    cursor: pointer;
}
.submit:hover{
    border-top:2px solid thistle ;
    border-bottom:2px solid thistle ;
    letter-spacing: 3px;
    box-shadow: 1px 1px 2px whitesmoke;
}
.details{
    background-color: rgb(189, 233, 70);
    width:fit-content;
    padding: 20px;
    border-radius: 20px;
    border:2px rgb(219, 68, 8) solid;
    margin:25px;
    margin-bottom: 10px;
}
.box{
    display: flex;
    flex-wrap: wrap;
}
.goback{
    margin:40px 10px;
    padding: 12px;
    width:110px;
    border: none;
    border-radius: 50px;
    background-color:rgb(30, 209, 90);
    color:snow;
    font-size: large;
    cursor: pointer; 
}